#App header {
  background-color: #2c2c2c;
  color: #fff;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  align-items: center;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

#App header section {
  background-color: #e0ffff;
}