#App .widget {
  display: inline-block;
  line-height: 0.5em;
  border-radius: 10px;
  color: black;
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
}

#App #heartWidget {
  font-size: 1.5em;
  margin: 1em;
}

#App span {
  display: inline-block;
}