span {
  display: inline-block
}

.red {
  color: #b22222
}

.orange {
  color: #e6ac00
}

.yellow {
  color: #e6e600
}

.green {
  color: green
}

.blue {
  color: blue
}

.purple {
  color: purple
}

.black {
  color: black
}

.senderColorPicker span {
  margin: 0 0.15em;
}